[ req ]
prompt = no
distinguished_name = dn
req_extensions = req_ext
x509_extensions = v3_ca

[ dn ]
C=US
ST=Wisconsin
L=Fond Du Lac
O=ParentControlsWin
OU=ParentControlsWin Client App
emailAddress=contact@parentcontrols.com
CN=parentcontrols.win

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical,CA:true
keyUsage = critical,digitalSignature,keyCertSign,cRLSign
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1=parentcontrols.win
DNS.2=*.parentcontrols.win
